<!DOCTYPE html>
<html lang="en" xmlns:layout="htpp://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Crear Instructor</title>
    </head>
    <body>
        <div layout:fragment="content1">
            <div class="col-md-6 offset-3 mt-3">
                <form class="form-control" method="post" th:action="@{/instructores/save}">
                    <div class="mb-3 mt-3">
                        <label for="nombres" class="form-label">Instructor Nombre:</label>
                        <input id="nombres" type="text" name="nombres" class="form-control" th:field="${Instructor.nombres}" required>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="apellidos" class="form-label">Instructor Apellidos:</label>
                        <input id="apellidos" type="text" name="apellidos" class="form-control" th:field="${Instructor.apellidos}" required>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="summary" class="form-label">Instructor Summary:</label>
                        <input id="summary" type="text" name="summary" class="form-control" th:field="${Instructor.summary}" required>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="email" class="form-label">Email:</label>
                        <input id="email" type="text" name="email" class="form-control" th:field="${Instructor.usuario.email}" required>
                        <span th:errors="${Instructor.usuario.email}" style="color:red"></span>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="password" class="form-label">Password:</label>
                        <input id="password" type="password" name="password" class="form-control" th:field="${Instructor.usuario.contraseña}" required>
                    </div>
                    <div class="mb-3 mt-3" hidden>
                        <input name="usuarios" class="form-control" th:field="${Instructor.usuario}">
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </body>
</html>
