<!DOCTYPE html>
<html lang="en" xmlns:layout="htpp://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Actualizar Estudiante</title>
    </head>
    <body>
        <div layout:fragment="content1">
            <div class="col-md-6 offset-3 mt-3">
                <form class="form-control" method="post" th:action="@{/estudiantes/update}" th:object="${estudiante}">
                    <div class="mb-3 mt-3">
                        <label class="form-label">Estudiante Id:</label>
                        <input type="number" name="estudianteId" class="form-control" th:value="${estudiante.getEstudianteId()}" readonly="readonly">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="nombres" class="form-label">Nombre:</label>
                        <input id="nombres" type="text" name="nombres" class="form-control" th:value="${estudiante.getNombres()}">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="apellidos" class="form-label">Apellidos:</label>
                        <input id="apellidos" type="text" name="apellidos" class="form-control" th:value="${estudiante.getApellidos()}">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="nivel" class="form-label">nivel:</label>
                        <input id="nivel" type="text" name="nivel" class="form-control" th:value="${estudiante.getNivel()}">
                    </div>
                    <div class="mb-3 mt-3" th:each="curso:${estudiante.getCurso()}">
                        <input hidden name="cursos" class="form-control" th:value="${estudiante.curso[cursoStat.index].getCursoId()}">
                    </div>
                    <div class="mb-3 mt-3" hidden>
                        <input name="usuario" class="form-control" th:field="${estudiante.usuario}">
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </body>
</html>
