body {
	background-color: #fcfcfc; 
	color: #131010; 
}

.card-header {
	background-color: #292929;
	color: #ffffff;
	padding: 10px;
	margin: 10px;
	font-family: monospace;
	font-size: 25px;
}

.card-body {
	background-color: #1e1e1e;
	color: #ffffff;
	padding: 10px;
	margin: 10px;
	font-family: monospace;
}

label {
	display: block;
	color: #ffffff;
}

label input[type="checkbox"] {
	float: right;
	margin-left: 10px;
}

.image-container, .video-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #333;
	padding: 10px;
	margin-top: 10px;
	border-radius: 5px;
}

.archivos {
	list-style: none;
	padding: 0;
}

.seccion-documentos {
	border-top: 1px solid #dee2e6;
	background-color: #1e1e1e;
	padding: 10px;
	margin-top: 10px;
	padding-bottom: 1rem;
	padding-top: 3px;
	border-radius: 5px;
}

h5 {
	color: #ffffff;
}

.custom-btn {
	background-color: transparent;
	color: #ffffff;
	transition: background-color 0.3s, color 0.3s;
	border: none;
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 5px;
	width: 95%;
	text-align: left;
}

.custom-btn:hover {
	background-color: #ffffff; 
	color: #000000; 
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}