* {
	margin: 0;
	padding: 0;
}

.card-header {
	border: 1px solid gray;
	padding: 10px;
	margin: 10px;
	font-family: monospace;
	font-size: 25px;
}

.card-body {
	border: 1px solid gray;
	padding: 10px;
	margin: 10px;
	font-family: monospace;
}

label {
	display: block;
}

label input[type="checkbox"] {
	float: right;
	margin-left: 10px;
}

.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.video-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.video-container {
	margin-bottom: 2rem;
}

a {
	text-decoration: none;
	color: black;
}

.archivos .seccion-documentos {
	border-top: 1px solid #dee2e6;
	list-style: none;
	padding-bottom: 1rem;
	padding-top: 3px;
}
.custom-btn {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
    text-decoration: none;
}

.custom-btn:hover {
    background: none;
    border: none; 
    color: inherit; 
}