<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="htpp://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.1/css/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/bb9bea6807.js" crossorigin="anonymous"></script>
        <script src="/webjars/bootstrap/5.3.1/js/bootstrap.bundle.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a class="navbar-brand" th:href="@{/cursos/index}">Home</a>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto" th:if="${isAuthentication}">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Cursos</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" th:href="@{/cursos/index}" th:if="${hasAuthorityAdmin}">Buscar</a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{/cursos/index/estudiante}" th:if="${hasAuthorityEstudiante}">Cursos de estudiante</a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{/cursos/index/instructor}" th:if="${hasAuthorityInstructor}">Cursos Instructor</a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{/cursos/formCrear}" th:if="${hasAuthorityAdmin or hasAuthorityInstructor}">Nuevos Cursos</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" th:if="${isAuthentication && hasAuthorityAdmin}">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Instructores</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" th:href="@{/instructores/index}">Buscar</a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{/instructores/formCreate}">Nuevo Instructor</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" th:if="${isAuthentication && hasAuthorityAdmin}">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Estudiantes</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" th:href="@{/estudiantes/index}">Buscar</a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{/estudiantes/formCreate}">Nuevo Estudiante</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown" th:if="${isAuthentication}">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            <span th:text="${userName}"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li th:if="${hasAuthorityInstructor}">
                                <a class="dropdown-item" th:href="@{/instructores/formUpdate}">Actualizar Perfil</a>
                            </li>
                            <li th:if="${hasAuthorityEstudiante}">
                                <a class="dropdown-item" th:href="@{/estudiantes/formUpdate}">Actualizar Perfil</a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{/logout}">Cerrar Seccion</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item" th:if="${isAnonymous}">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
        <section layout:fragment="content1"></section>
    </body>
</html>
